# Prediction of Air Quality Index Bucket

# Importing Common Libraries and making dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [2]:
df=pd.read_csv(r'C:\Users\user\Desktop\Folders\sem III\project\city_day.csv\city_day.csv')
df

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29526,Visakhapatnam,2020-06-27,15.02,50.94,7.68,25.06,19.54,12.47,0.47,8.55,23.30,2.24,12.07,0.73,41.0,Good
29527,Visakhapatnam,2020-06-28,24.38,74.09,3.42,26.06,16.53,11.99,0.52,12.72,30.14,0.74,2.21,0.38,70.0,Satisfactory
29528,Visakhapatnam,2020-06-29,22.91,65.73,3.45,29.53,18.33,10.71,0.48,8.42,30.96,0.01,0.01,0.00,68.0,Satisfactory
29529,Visakhapatnam,2020-06-30,16.64,49.97,4.05,29.26,18.80,10.03,0.52,9.84,28.30,0.00,0.00,0.00,54.0,Satisfactory
29530,Visakhapatnam,2020-07-01,15.00,66.00,0.40,26.85,14.05,5.20,0.59,2.10,17.05,NaN,NaN,NaN,50.0,Good

In [3]:
df.shape

(29531, 16)

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.isnull()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,False,False,True,True,False,False,False,True,False,False,False,False,False,False,True,True
1,False,False,True,True,False,False,False,True,False,False,False,False,False,False,True,True
2,False,False,True,True,False,False,False,True,False,False,False,False,False,False,True,True
3,False,False,True,True,False,False,False,True,False,False,False,False,False,False,True,True
4,False,False,True,True,False,False,False,True,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29526,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29527,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29528,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29529,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
29530,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False

In [6]:
df1=df.dropna()

In [7]:
df1

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
2123,Amaravati,2017-11-25,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0,Moderate
2124,Amaravati,2017-11-26,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0,Moderate
2125,Amaravati,2017-11-27,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0,Moderate
2126,Amaravati,2017-11-28,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0,Moderate
2127,Amaravati,2017-11-29,72.47,114.84,5.23,23.20,16.59,12.25,0.16,10.55,109.74,0.21,4.71,0.08,173.0,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29525,Visakhapatnam,2020-06-26,7.63,32.27,5.91,23.27,17.19,11.15,0.46,6.87,19.90,1.45,5.37,1.45,47.0,Good
29526,Visakhapatnam,2020-06-27,15.02,50.94,7.68,25.06,19.54,12.47,0.47,8.55,23.30,2.24,12.07,0.73,41.0,Good
29527,Visakhapatnam,2020-06-28,24.38,74.09,3.42,26.06,16.53,11.99,0.52,12.72,30.14,0.74,2.21,0.38,70.0,Satisfactory
29528,Visakhapatnam,2020-06-29,22.91,65.73,3.45,29.53,18.33,10.71,0.48,8.42,30.96,0.01,0.01,0.00,68.0,Satisfactory
29529,Visakhapatnam,2020-06-30,16.64,49.97,4.05,29.26,18.80,10.03,0.52,9.84,28.30,0.00,0.00,0.00,54.0,Satisfactory

# Random Forest Classicication

In [185]:
z= df1.loc[:,['PM10','NO','NO2','NOx','NH3','SO2','O3','AQI']].values
z

array([[124.5 ,   1.44,  20.5 , ...,  15.24, 127.09, 184.  ],
       [129.06,   1.26,  26.  , ...,  26.96, 117.44, 197.  ],
       [135.32,   6.6 ,  30.85, ...,  33.59, 111.81, 198.  ],
       ...,
       [ 74.09,   3.42,  26.06, ...,  12.72,  30.14,  70.  ],
       [ 65.73,   3.45,  29.53, ...,   8.42,  30.96,  68.  ],
       [ 49.97,   4.05,  29.26, ...,   9.84,  28.3 ,  54.  ]])

In [186]:
x=df1.iloc[:,[2,3,5,6,7,9,10]].values
y=df1.iloc[:,15].values

In [187]:
x

array([[ 81.4 , 124.5 ,  20.5 , ...,  10.72,  15.24, 127.09],
       [ 78.32, 129.06,  26.  , ...,  10.28,  26.96, 117.44],
       [ 88.76, 135.32,  30.85, ...,  12.91,  33.59, 111.81],
       ...,
       [ 24.38,  74.09,  26.06, ...,  11.99,  12.72,  30.14],
       [ 22.91,  65.73,  29.53, ...,  10.71,   8.42,  30.96],
       [ 16.64,  49.97,  29.26, ...,  10.03,   9.84,  28.3 ]])

In [188]:
y

array(['Moderate', 'Moderate', 'Moderate', ..., 'Satisfactory',
       'Satisfactory', 'Satisfactory'], dtype=object)

In [189]:
x_train,x_test,y_train,y_test=train_test_split(z,y,test_size=0.3,random_state=0)

In [190]:
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [191]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier

In [192]:
regressor=RandomForestClassifier(n_estimators=10,random_state=0)
regressor.fit(x_train,y_train)

RandomForestClassifier(n_estimators=10, random_state=0)

In [193]:
y_pred=regressor.predict(x_test)

In [194]:
y_pred

array(['Very Poor', 'Satisfactory', 'Satisfactory', ..., 'Satisfactory',
       'Satisfactory', 'Moderate'], dtype=object)

In [195]:
y_test

array(['Very Poor', 'Satisfactory', 'Satisfactory', ..., 'Satisfactory',
       'Satisfactory', 'Moderate'], dtype=object)

In [196]:
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),1))

[['Very Poor' 'Very Poor']
 ['Satisfactory' 'Satisfactory']
 ['Satisfactory' 'Satisfactory']
 ...
 ['Satisfactory' 'Satisfactory']
 ['Satisfactory' 'Satisfactory']
 ['Moderate' 'Moderate']]

In [197]:
accuracy_score(y_test,y_pred)

0.9925173703901656

In [198]:
# Max Accuracy 99.25%

# K-Nearest Neighbour

In [199]:
x=df1.iloc[:,[2,3,5,6,7,9,10]].values
y=df1.iloc[:,15].values

In [200]:
x_train,x_test,y_train,y_test=train_test_split(z,y,test_size=0.20,random_state=0)

In [201]:
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [202]:
from sklearn.neighbors import KNeighborsClassifier

In [203]:
classifier=KNeighborsClassifier(n_neighbors=5,metric='minkowski',p=2)
classifier.fit(x_train,y_train)

KNeighborsClassifier()

In [204]:
y_pred=classifier.predict(x_test)

In [205]:
print(np.concatenate((y_pred.reshape(len(y_pred),1),y_test.reshape(len(y_test),1)),1))

[['Very Poor' 'Very Poor']
 ['Satisfactory' 'Satisfactory']
 ['Satisfactory' 'Satisfactory']
 ...
 ['Satisfactory' 'Satisfactory']
 ['Moderate' 'Moderate']
 ['Moderate' 'Moderate']]

In [206]:
accuracy_score(y_test,y_pred)

0.8589743589743589

In [207]:
#Accuracy=85.89%
#Got better accuracy in Random forest